<div class="container-fluid bg-dark text-light py-2">
    <h3>{{slogan}}</h3>
    <p>{{endereco}}</p>
    <!-- FORMA 1: -->
    <!-- <button (click)="onToggle()" class="btn {{oculto? 'btn-primary':'btn-danger'}}">
        {{oculto ? 'Mostrar destaques' : 'Ocultar destaques'}}
    </button> -->
    <button (click)="onToggle()" [class]="classesBtn">
        {{callToAction}}
    </button>
    <ul [hidden]="oculto">
        <li>Produtos de informática com 30% OFF</li>
        <li>Produtos de Limpeza com 20% a partir de R$ 300,00</li>
    </ul>
</div>